body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-text {
    font-weight: bold;
    font-size: 14px; /* Reduced the size */
    margin-right: 10px;
}

#episode-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

#episode-list li {
    margin: 5px;
    font-size: 10px; /* Further reduced the font size */
}

#episode-list li a {
    display: block;
    padding: 2px 5px; /* Further adjusted the padding */
    background-color: red; /* Red background color */
    border-radius: 20px; /* More rounded corners */
    color: white; /* White text color */
    text-align: center; /* Center aligned text */
    width: 100px; /* Fixed width to ensure buttons have the same length */
}

@media (max-width: 600px) {
    #episode-list li a {
        width: 80px; /* Adjust width for mobile devices */
    }
}