body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 1px;
}

.main-container {
    max-width: 480px; 
    width: 100%; 
    border-radius: 10px; 
}


.cover-image {
    width: 100%; 
    height: auto; 
    max-height: 270px; 
    object-fit: cover; 
    display: block;
    border-radius: 10px 10px 0 0; /* Match container corners */
}


.episode-container {
    padding: 20px 0; 
    color: #fff;
    width: 100%;
    text-align: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-text {
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    color: white;
}

#episode-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 10px; 
}

#episode-list li {
    width: 60px; 
    margin: 0; 
    font-size: 12px;
    padding-left: 0; 
}

#episode-list li a {
    display: block;
    padding: 7px 0; 
    background-color: #303030;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%; 
}


@media (min-width: 1024px) {
    .main-container {
        max-width: 600px; 
    }
    .cover-image {
        max-height: 337.5px; /* 16:9 ratio, 600x337.5px */
    }
}